@use "sass:math";

// Import pre-built WordPress CSS files
@import "../node_modules/@wordpress/components/build-style/style.css";
@import "../node_modules/@wordpress/block-editor/build-style/style.css";
@import "../node_modules/@wordpress/block-library/build-style/style.css";
@import "../node_modules/@wordpress/block-library/build-style/theme.css";
@import "../node_modules/@wordpress/format-library/build-style/style.css";

$sidebar-width: 300px;
$border-color: #e0e0e0;
$test: 1;

.block-editor-container {
    position: relative;
    border: solid 1px $border-color;
    border-radius: 2px;

    input, textarea {
        box-sizing: border-box;
    }

    .block-editor {
        display: flex;
        flex-direction: column;
    }

    .block-editor__header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        padding: .5rem;
        border-bottom: solid 1px $border-color;
    }

    .block-editor__header-toolbar {
        display: flex;
    }

    .block-editor__content {
        display: flex;
    }

    .block-editor__editor {
        flex: 1;
        padding: 1rem;
        overflow-y: auto;
        display: flex;
        gap: 1rem;
    }

    .block-editor__list-view-panel {
        width: 250px;
        border-right: 1px solid $border-color;
        padding: 1rem;
        overflow-y: auto;
        background: #fff;
    }

    .editor-styles-wrapper {
        flex: 1;
        min-width: 0;
    }

    .block-editor__sidebar {
        flex: 0 0 $sidebar-width;
        overflow-y: auto;
        border-left: 1px solid $border-color;

        .components-panel {
            box-sizing: content-box;
            height: 100%;
            position: relative;
            border: none;
        }
    }

    .block-editor-inserter__menu {
        background-color: #FFFFFF;
    }

    .block-editor-inserter__popover {
        .components-popover__content  {
            background-color: #FFFFFF;
            max-height: 400px !important;
        }

        .block-editor-inserter__menu {
            margin: -12px -8px;
        }
    }

    iframe, img {
        border: none;
    }
}
